<div class="container">

<h4><%= @question.question %></h4>
<br>

<% if @question.answers.any? %>
  <h5>Here are the answers for this question:</h5>

    <ul>
    <% @question.answers.each do |answer| %>
      <br>
      <%= answer.answer %>
      <% if current_user %>

        <%= link_to "Edit", edit_question_answer_path(@question, answer) %> |
        <%= link_to "Delete", question_answer_path(@question, answer),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>

    <% end %>
    <% end %>
  </ul>
  <% else %>
  <p>There are no answers yet!</p>
<% end %>

<br>

<% if current_user %>
<p><%= link_to "Answer Question", new_question_answer_path(@question) %></p>

<p><%= link_to "Edit", edit_question_path(@question) %></p>
<p><%= link_to "Delete", question_path(@question),
                         :data => {:confirm => "You sure you want to delete this question?",
                                   :method => "delete"} %></p>
<% end %>
</div>
